@model IEnumerable<ChatLieu>
<div class="col-md-12">
	<div class="section-title">
		<h3 class="title">Top selling</h3>
		<div class="section-nav">
			<ul class="section-tab-nav tab-nav">
				@foreach (var item in Model)
				{
					<li><a asp-controller="Home" asp-action="SpTheoChatLieu"
					asp-route-MaCl="@item.MaCl">@item.TenCl</a></li>
				}
			</ul>
		</div>
	</div>
</div>